body{font-family:sans-serif;padding:15px;}
input,select{width:100%;padding:10px;margin:5px 0;}
button{padding:10px;margin:5px;}
li{margin:10px 0;padding:10px;border-radius:10px;background:#eee;}
.dark{background:#111;color:#fff;}
.dark li{background:#222;}