
body{
font-family:Arial;
padding:20px;
background:#f4f6fb;
}

h1,h2{
text-align:center;
}

.nav{
display:flex;
gap:20px;
justify-content:center;
margin-top:30px;
}

input,select,button{
display:block;
width:100%;
max-width:300px;
margin:10px auto;
padding:10px;
}

button{
cursor:pointer;
}

.saldo{
text-align:center;
font-size:22px;
margin-bottom:20px;
}
