body {
  background: black;
  color: white;
  font-family: Arial;
  text-align: center;
}

input, select {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: none;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: none;
}

.receita { background: green; color: white; }
.despesa { background: red; color: white; }

.menu {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 24px;
}

.menu-box {
  position: absolute;
  top: 50px;
  left: 10px;
  background: #222;
  padding: 10px;
  border-radius: 10px;
}

.hidden { display: none; }
